<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Unblockme/drawable/btnnext.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,907},{468,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,104}}</string>
                <key>sourceSize</key>
                <string>{468,104}</string>
            </dict>
            <key>Unblockme/drawable/btnop.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,418},{123,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,98}}</string>
                <key>sourceSize</key>
                <string>{123,98}</string>
            </dict>
            <key>Unblockme/drawable/btntips.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,218},{155,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,98}}</string>
                <key>sourceSize</key>
                <string>{155,98}</string>
            </dict>
            <key>Unblockme/drawable/btnvideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,337},{123,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,98}}</string>
                <key>sourceSize</key>
                <string>{123,98}</string>
            </dict>
            <key>Unblockme/drawable/btnvideopoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,186},{178,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,86}}</string>
                <key>sourceSize</key>
                <string>{178,86}</string>
            </dict>
            <key>Unblockme/drawable/game_bottom_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{611,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,228}}</string>
                <key>sourceSize</key>
                <string>{611,228}</string>
            </dict>
            <key>Unblockme/drawable/game_btnrept.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,318},{123,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,98}}</string>
                <key>sourceSize</key>
                <string>{123,98}</string>
            </dict>
            <key>Unblockme/drawable/game_labe_gate.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{204,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,86}}</string>
                <key>sourceSize</key>
                <string>{204,86}</string>
            </dict>
            <key>Unblockme/drawable/gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,218},{62,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>Unblockme/drawable/option_btncontinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,870},{468,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,104}}</string>
                <key>sourceSize</key>
                <string>{468,104}</string>
            </dict>
            <key>Unblockme/drawable/option_btngate.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,518},{468,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,104}}</string>
                <key>sourceSize</key>
                <string>{468,104}</string>
            </dict>
            <key>Unblockme/drawable/option_btnhome.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,437},{468,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,104}}</string>
                <key>sourceSize</key>
                <string>{468,104}</string>
            </dict>
            <key>Unblockme/drawable/pic_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{1,1}}</string>
                <key>offset</key>
                <string>{-61,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>Unblockme/drawable/unblockme_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,274},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>Unblockme/drawable/unblockme_block1.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,110},{189,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,106}}</string>
                <key>sourceSize</key>
                <string>{189,106}</string>
            </dict>
            <key>Unblockme/drawable/unblockme_block2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,90},{94,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,202}}</string>
                <key>sourceSize</key>
                <string>{94,202}</string>
            </dict>
            <key>Unblockme/drawable/unblockme_block3.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{190,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,106}}</string>
                <key>sourceSize</key>
                <string>{190,106}</string>
            </dict>
            <key>Unblockme/drawable/unblockme_gamepanl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{594,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,572}}</string>
                <key>sourceSize</key>
                <string>{594,572}</string>
            </dict>
            <key>Unblockme/drawable/unblockme_gamepanl1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,274},{594,146}}</string>
                <key>offset</key>
                <string>{0,-213}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,426},{594,146}}</string>
                <key>sourceSize</key>
                <string>{594,572}</string>
            </dict>
            <key>Unblockme/drawable/unblockme_gamepanl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{594,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,572}}</string>
                <key>sourceSize</key>
                <string>{594,572}</string>
            </dict>
            <key>Unblockme/drawable/unblockme_gamepanl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{594,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,572}}</string>
                <key>sourceSize</key>
                <string>{594,572}</string>
            </dict>
            <key>Unblockme/drawable/unblockme_spot.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,291},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:588a5cb2a448c198e17f1dbafacbb82a$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>width</key>
            <integer>1024</integer>
            <key>height</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
