<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameasset/1_1_img_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,602},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>gameasset/1_1_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,478},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>gameasset/1_2_restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,430},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>gameasset/1_2_view.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,488},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>gameasset/1_3_haptic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,312},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/1_3_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,268},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/1_3_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,352},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/2_1_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,535},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,36}</string>
			</dict>
			<key>gameasset/2_1_progress1.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,999},{20,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,6}</string>
			</dict>
			<key>gameasset/AD.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,999},{35,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,18}</string>
			</dict>
			<key>gameasset/button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,386},{140,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,88}</string>
			</dict>
			<key>gameasset/Cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,499},{106,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,25}</string>
			</dict>
			<key>gameasset/Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,366},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>gameasset/Continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,664},{162,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,29}</string>
			</dict>
			<key>gameasset/Haptic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,614},{66,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,58}</string>
			</dict>
			<key>gameasset/hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,520},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>gameasset/hint_adbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,306},{29,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,26}</string>
			</dict>
			<key>gameasset/hintbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,741},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>gameasset/iconbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,404},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>gameasset/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,436},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/img_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,862}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,862}</string>
			</dict>
			<key>gameasset/img_inner_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,367},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/img_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,268},{132,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>gameasset/main_img_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,451},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/netconnection.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,944},{326,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,66}</string>
			</dict>
			<key>gameasset/num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,676},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>gameasset/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,567},{66,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,31}</string>
			</dict>
			<key>gameasset/play_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,579},{239,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,48}</string>
			</dict>
			<key>gameasset/popups_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1781,298},{204,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,204}</string>
			</dict>
			<key>gameasset/progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,999},{10,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,4}</string>
			</dict>
			<key>gameasset/progress_kuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1009},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>gameasset/rateok.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,868},{434,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,122}</string>
			</dict>
			<key>gameasset/refesh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,396},{82,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,77}</string>
			</dict>
			<key>gameasset/Restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,994},{113,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,25}</string>
			</dict>
			<key>gameasset/Settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,983},{149,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,36}</string>
			</dict>
			<key>gameasset/Sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,194},{64,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>gameasset/switch_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,497},{96,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,56}</string>
			</dict>
			<key>gameasset/switch_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,567},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>gameasset/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,994},{198,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,28}</string>
			</dict>
			<key>gameasset/View.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,478},{78,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,26}</string>
			</dict>
			<key>gameasset/white_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,999},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>loadingscreen/white_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,999},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>gameloading/loading1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1781,506},{193,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,169}</string>
			</dict>
			<key>gameasset/title_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,1021},{11,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,1}</string>
			</dict>
			<key>gameasset/Home.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,994},{102,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,28}</string>
			</dict>
			<key>gameasset/barbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,298},{20,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,96}</string>
			</dict>
			<key>gameasset/barbg_collected.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,268},{360,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,95}</string>
			</dict>
			<key>gameasset/Daily Challenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,994},{214,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,27}</string>
			</dict>
			<key>gameasset/daily_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,546},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>gameasset/daily_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,582},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>gameasset/daily2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,508},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>gameasset/dailybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{720,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,262}</string>
			</dict>
			<key>gameasset/dailyPicbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,630},{310,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,310}</string>
			</dict>
			<key>gameasset/dailyPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,524},{180,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,56}</string>
			</dict>
			<key>gameasset/gallery1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,252},{44,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,56}</string>
			</dict>
			<key>gameasset/img_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,837},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>gameasset/progress_kuai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1009},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>gameasset/title_arrow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,394},{16,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,28}</string>
			</dict>
			<key>gameasset/title_arrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,398},{16,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,28}</string>
			</dict>
			<key>gameasset/daily_img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,2},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>gameasset/daily_img_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,619},{47,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,41}</string>
			</dict>
			<key>gameasset/daily_img_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,367},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>gameasset/topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,2},{20,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,300}</string>
			</dict>
			<key>gameasset/Hapticlabel.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,536},{87,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,27}</string>
			</dict>
			<key>gameasset/No Internet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,2},{560,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,292}</string>
			</dict>
			<key>gameasset/RateBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,868},{434,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,122}</string>
			</dict>
			<key>gameasset/Soundlabel.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,999},{85,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,22}</string>
			</dict>
			<key>gameasset/tapbar_bg .png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,679},{98,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,326}</string>
			</dict>
			<key>gameasset/titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,528},{163,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,96}</string>
			</dict>
			<key>gameasset/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,268},{113,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>
			<key>gameasset/iconbg_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,367},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>gameasset/floatborder.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,66},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>gameasset/floatbottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,130},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>gameasset/hint_numbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,336},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>gameasset/2_1_apart_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,477},{82,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,32}</string>
			</dict>
			<key>gameasset/dailynumbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,628},{165,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,50}</string>
			</dict>
			<key>gameasset/dailyRestart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,584},{180,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,56}</string>
			</dict>
			<key>gameasset/bottomcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,994},{140,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,26}</string>
			</dict>
			<key>gameasset/continueicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,535},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,40}</string>
			</dict>
			<key>gameasset/calen_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,994},{656,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{656,1}</string>
			</dict>
			<key>gameasset/barbg_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,679},{84,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,154}</string>
			</dict>
			<key>gameasset/img_frame_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,298},{328,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,328}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplist.png</string>
			<key>size</key>
                     <string>{2046,1024}</string>
			<key>realTextureFileName</key>
			<string>gameplist.png</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2046</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>