<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rate/icon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,597},{403,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{403,72}</string>
			</dict>
			<key>rate/loveIt.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,466},{254,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,122}</string>
			</dict>
			<key>rate/notreally.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,471},{254,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,122}</string>
			</dict>
			<key>rate/rateok.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,127},{434,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,122}</string>
			</dict>
			<key>rate/rateTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,379},{376,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,83}</string>
			</dict>
			<key>rate/Submit.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,142},{434,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,122}</string>
			</dict>
			<key>rate/thankback.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,592},{487,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{487,68}</string>
			</dict>
			<key>setting/button.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,379},{420,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,88}</string>
			</dict>
			<key>setting/title_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,2},{11,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,1}</string>
			</dict>
			<key>rate/popups_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,268},{204,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,204}</string>
			</dict>
			<key>rate/five.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,2},{445,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,121}</string>
			</dict>
			<key>rate/thankfacebock.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{487,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{487,136}</string>
			</dict>
			<key>rate/icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,664},{295,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,39}</string>
			</dict>
			<key>rate/phone.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,664},{238,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,42}</string>
			</dict>
			<key>rate/Rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,253},{434,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,122}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>otherplist.png</string>
			<key>size</key>
                     <string>{1024,1024}</string>
			<key>realTextureFileName</key>
			<string>otherplist.png</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>