<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>unabledownload/label1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,128},{405,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,67}</string>
			</dict>
			<key>unabledownload/label2.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,194},{360,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,28}</string>
			</dict>
			<key>unabledownload/okbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{434,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,122}</string>
			</dict>
			<key>unabledownload/pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,2},{241,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,188}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>unload.png</string>
			<key>size</key>
                     <string>{1024,256}</string>
			<key>realTextureFileName</key>
			<string>unload.png</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>